.container{
    width: 650px;
    height: 350px;
    text-align: center;
    padding: 0px;
}

#mytabs{
    background-color:#FFFFFF;
    height: 400px;
    border-right: 1px solid #bbbbbb;
    padding: 0px;
}

#home{
    bottom: 0px;
    width: 100%;
    height: 400px;
    overflow:auto;
}

#create{
    bottom: 0px;
    width: 100%;
    height: 400px;
    overflow: auto;
    padding: 0px;
}

/* HOME TAB STYLING */
.curTS {
    font-weight: bold;
    text-decoration: underline;
}

#title{
    font-size: 12px;
    color: #000000;
}

#tab-images{
    width: 80%;
    height: 80%;
}

/* CREATE TAB STYLING */
#create ul{
    padding-right: 50px;
    padding-left: 50px;
}

#linksList{
    font-size: 12px;
    color: #000000;
    padding: 10px;
    font-weight: bold;
}

.tab-content p, ul{
    list-style-type: none;
}

input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    text-align: center;
    padding: 2px 50px;
    color: #000000;
    font-size: 18px;
}

.popover{
    width: 100px;
}

.btn-circle{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-left: 50px;
    float: right;
}

.list{
    padding: 0px;
}

.list li{
    text-align: left;
    padding: 5px;
    width: 75%;
    background-color: #c6c9cc;
}

#question-mark {
    color: #000000;
    font-size: 0.75em;
}

/* Make placeholder disappear on focus */
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }

/* NAVBAR STYLING */
.navbar-default {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    margin-bottom: 0px;
}

.navbar-default .nav-stacked > li > a {
}

.navbar-default .nav-stacked > li > a:hover,
.navbar-default .nav-stacked > li > a:focus {
    background-color: #FFFFFF;
}

.navbar-default .nav-stacked > .active > a, 
.navbar-default .nav-stacked > .active > a:hover, 
.navbar-default .nav-stacked > .active > a:focus {
    color: #000000;
    background-color: #FFFFFF;
}

body { 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-size: 14px; 
} 

p {
    font-size: 20px;
}
